.column {
  background: rgb(240, 240, 240);
  border-radius: 2px;
  box-shadow: 0.5px 0.5px 5px $off-black;
  padding: $siz-1;
  flex: 1 1 50%;
}

.column__title-container {
  display: flex;
  justify-content: center;
}

.column__title {
  border-bottom: 1px solid $off-black;
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  margin-left: $siz-05;
  padding-bottom: $siz-05;
  text-transform: uppercase;
}