.content {
  display: flex;
  flex-direction: column;
  max-width: calc(70% - #{$sidebar-width});
  margin: 0 auto 120px; //120px bottom gap
  position: relative;
  top: $header-height;
  left: 50px;
  min-height: 1200px;
}

.content__btn-switcher {
  border: none;
  background: #e4e4e4;
  color: $dark-gray;
  padding: 1rem;

  transition: color 0.3s ease-in-out, background 0.3s ease-in-out;
}
.content__btn-switcher:hover {
  color: $off-white;
  background: $mid-gray;
}