.item__detail--additionalGun {
  background: $ag-red;
}
.item__detail--torpedo {
  background: $to-blue;
}
.item__detail--barrage {
  background: $ba-green;
}
.item__detail--antiAir {
  background: $aa-green;
}
.item__detail--activationBuff {
  background: $acbuff-pink;
}
.item__detail--persistentBuff {
  background: $pebuff-purple;
}
.item__detail--recovery {
  background: $rec-green;
}
.item__detail--survival {
  background: $sur-orange;
}
.item__detail--retrofit {
  background: $retro-yellow;
}
.item__detail--limited {
  background: $lim-gray;
}