header {
  background: $off-black;
  border-bottom: 1px solid black;
  position: fixed;
  width: 100%;
  max-height: 80px;
  padding: $siz-1;
  color: $off-white;
  z-index: 2;
}

.header__title {
  color: $off-white;
  text-decoration: none;
  transition: filter 0.2s ease-in-out;
}
.header__title:hover {
  filter: brightness(90%);
}
.header__title:active {
  filter: brightness(80%);
}