.item {
  background: $off-white;
  margin: $siz-05;
  box-shadow: 0 0 5px $mid-gray;
  border-radius: 2px;
}

.item__icon {
  position: relative;
}

.item__image {
  display: block;
  max-height: 116px;
}

.item__hull {
  position: absolute;
  top: -1px;
  left: 0;
}

.item__details {
  color: $off-white;
  font-size: 1.4rem;
  text-shadow: 1px 1px 1px $off-black;
  display: flex;
  position: absolute;
  bottom: 0;
  
}
.item__detail {
  opacity: 0.9;
  padding: 3px;
}

.item__name {
  padding: 0.7rem;
  font-size: 1.5rem;
  font-weight: 400;
}

.item--bg-SSR {
  background: $ssr-gold;
}
.item--bg-SR {
  background: $sr-purple;
}
.item--bg-R {
  background: $r-blue;
}
.item--bg-N {
  background: $light-gray
}