.transitionFilter-enter {
  opacity: 0.3;
}

.transitionFilter-enter.transitionFilter-enter-active {
  opacity: 1;
  transition: 500ms;
}

.transitionFilter-leave {
  opacity: 1;
}

.transitionFilter-leave.transitionFilter-leave-active {
  opacity: 0.3;
  transition: 500ms;
}