// Colors
$off-black: #1b1b1b;
$off-white: #f5f5f5;
$light-gray: #dbdbdb;
$mid-gray: rgb(148, 148, 148);
$dark-gray: rgb(97, 97, 97);
// rarity
$ssr-gold: #cac373;
$sr-purple: #b16ab1;
$r-blue: #45a4b1;
$n-white: #c1c1c1;

//details
$ag-red: #e56a8a;
$to-blue: #4464cb;
$ba-green: #44b3a2;
$aa-green: #2e7973;
$acbuff-pink: #a34196;
$pebuff-purple: rgb(85, 36, 85);
$sur-orange: rgb(211, 159, 61);
$rec-green: #50ad3a;
$retro-yellow: #9c9945;
$lim-gray: rgb(87, 87, 87);


// Spacing
$siz-1: 1.6rem;
$siz-05: 0.5rem;

// widths
$sidebar-width: 210px;
$header-height: 80px;